	body {
		font-size: 0.8em;
	}

	select {
		color: #000000;
		font-size: 2.5em;
		font-weight: bold;
		width: 350px;
	}

	p {
		font-size: 1.5em; 
	}

	#disclaimer {
		font-size: 1.0em; 
	}

	h1 {
		font-size: 3.0em;
		font-weight: bold;
	}


	#areaList {
}

	.axis line,
	.axis path {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}

	.x {
		font-size: 0;
	}

	rect {
		stroke: #000;
		stroke-opacity: .5;
		stroke-width: .1;
		fill-opacity: .8;
	}

	.label{
		color: #000;
	}

	div{
		margin-top:0.2em;
	}

	.label{
		font-size: 0.5em;
	}
